@charset "utf-8";
/*Background and border effects */
/*Colours used as a joke since Gothic is always seen as things such as a gothic tower*/
body{
    background: black;
}
/* The primary text */
header{
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
}
main{
    color: white;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    font-size: 1.5em;
}
h1{
    font-size: 2em;
}
/* Links and sources */
footer{
    color: white;
    font-family: serif;
    
}
blockquote {
    color: lightblue;
    font-family: sans-serif;
    
}
